table {
    border: 1px dotted red;
}
table th {
    border: 1px double greenyellow;
}
table td {
    border: 1px solid blueviolet;
}
nav {
    background-color: blanchedalmond;
    height: 50px;
    padding-top: 1px;
}
nav li {
    display: inline-block;
    margin-left: 210px;
    text-decoration: line-through;
}
img {
    width: 300px;
    height: 300px;
}
video {
    width: 300px;
    height: 900px;
}